@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans:wght@700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
p,
div,
a {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.hello {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
  margin: 24px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

div,
p,
a {
  font-weight: 400;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

div,
p {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.test {
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  border: 1px white solid;
}




#morning {
  color: white;
  background-size: 400% 400%;
  background: linear-gradient(180deg, rgba(0,200,255,1) 0%, rgba(160,160,255,1) 20%,  rgba(255,197,23,1) 65%, rgba(170,0,255,1) 100%);
}

@keyframes to-morning {
  0% {
    background: rgba(0, 0, 0, 1);
  }
  100% {
    background: rgb(0, 28, 131, 0);
  }
}

#to-morning {
  animation: to-morning;
  animation-duration: 4s;
}

@keyframes aft {
  from {
    background: linear-gradient(180deg, rgba(0,200,255,1) 0%, rgba(160,160,255,1) 20%,  rgba(255,197,23,1) 65%, rgba(170,0,255,1) 100%);
  }
  to {
    background: linear-gradient(180deg, rgba(0,136,255,1) 0%, rgba(199,247,255,1) 100%);
  }
}

#afternoon {
  color: white;
  background-size: 400% 400%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,136,255,1) 0%, rgba(199,247,255,1) 100%);
  animation: aft;
  animation-duration: 4s;
}

@keyframes to-afternoon {
  0% {
    background: rgba(255,255,255,0);
  }
  50% {
    background: rgba(0,200,255,1);
  }
  100% {
    background: rgba(0,200,255,0);
  }
}

#to-afternoon {
  animation: to-afternoon;
  animation-duration: 4s;
}

@keyframes nigh {
  from {
    background: linear-gradient(180deg, rgba(0,136,255,1) 0%, rgba(199,247,255,1) 100%);  }
  to {
    background: linear-gradient(180deg, rgba(0,1,22,1) 0%, rgba(18,0,135,1) 70%, rgba(255,70,70,1) 100%);
  }
}

#night {
  color: white;
  background: rgb(0,1,22);
  background: linear-gradient(180deg, rgba(0,1,22,1) 0%, rgba(18,0,135,1) 70%, rgba(255,70,70,1) 100%);
  animation: nigh;
  animation-duration: 4s;
}

@keyframes to-night {
  0% {
    background: rgba(255,255,255,0);
  }
  50% {
    background: rgb(51, 17, 174);
  }
  100% {
    background: rgba(0,200,255,0);
  }
}

#to-night {
  animation: to-night;
  animation-duration: 4s;
}


#status-bar {
  background: rgb(0,136,255);
  background: linear-gradient(270deg, rgba(0,136,255,0.2) 0%, rgba(170,0,255,0.2) 100%);
}

@media (orientation: landscape) {
  #card {
    font-size: calc(2vw);
  }
  #dialogue {
    font-size: calc(2vw);
  }
}

@media (orientation: portrait) {
  #card {
    font-size: 3vh;
  }
  #dialogue {
    font-size: 3vh;
  }
}